.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  min-height: 40px;
  padding: 0 10px;
}

.row-container:nth-child(odd) {
  background-color: #fafafa;
}

.row-container:hover {
  background-color: #efefef;
  cursor: pointer;
}

.column {
  flex: 0 0 150px;
  margin: 5px;
  overflow: hidden;
  word-break: break-word;
}

.last-updated {
  flex-basis: 100px;
}

.phone {
  flex-basis: 120px;
}
