.field-row {
  margin-bottom: 20px;
}

.field-row label {
  display: block;
  margin-bottom: 5px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button-row button {
  margin-left: 10px;
}

@media screen and (max-width: 40em) {
  .flex-row {
    flex-direction: column;
  }

  .column {
    flex: 1 1 auto;
    margin: 10px 0;
  }
}
