.header {
  height: 60px;
  background-color: #222;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}

.inner-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.nav-links {
  display: flex;
  margin-left: auto;
}

.nav-links a {
  color: white;
  margin-left: 15px;
}
